.detailsBody {
  margin: 20px 50px 0 50px;
  color: white;
  text-align: center;
}

.imgAndDesc {
  display: inline-block;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 30px;
}

.detailsContainer {
  display: inline-block;
  flex-direction: column;
  position: relative;
  margin-left: 20px;
  top: -400px;
}

.desc {
  width: 375px;
}

.detailsImg {
  object-fit: cover;
  width: 375px;
  height: 400px;
  float: left;
  margin: 10px;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
} 
