
input {
  margin-right: 5px;
  border-radius: 10px;
  height: 50px;
  width: 300px;
}

:placeholder-shown {
  color: rgb(12, 179, 73);
  padding-left: 10px;
}

::placeholder {
  text-align: center;
}

